body {
  font: 14px;
}

a {
  color: #00B7FF;
}

.btn-green{
	  background-color: #28D3AB !important;
}

.section{

	padding-top: 50px;
	padding-bottom: 50px;
}

.main_div{
  height: auto !important; /* real browsers */
  min-height: 100vh;
  background-color: #6a5acd;
}

.f{
background-color: white; 
padding: 5%;
/*margin-top:5vw; */
/*margin-left: 30%; */
/*margin-right: 30%; */
/*margin-bottom: 3vw; */
border-radius: 6px;
/*max-width: 40%;*/
}

.form-control{
    border: none !important;
    border-bottom: 2px solid #d8d8d8 !important;
}

i
{
	color: white
}

label{
	color: grey
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px
}

.navbar-nav li a {
	font-size: 100%
	color:white;
	text-decoration: none;
}