body {
  font: 14px;
}

a {
  color: #00B7FF;
}

.btn-green{
	  background-color: #28D3AB !important;
}

.section{
	padding-top: 80px;
	padding-bottom: 80px;
}

.container-fluid{
	min-height: 800px;
}

.form-control{
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
}
i
{
	color: white
}
